.ToggleButton {
   .slide-button {
      position: relative;
      background-color: #d2d2d2;
      width: 40px;
      height: 20px;
      border-radius: 20px;
      cursor: pointer;
      transition: .2s;

      &::before {
         position: absolute;
         content: '';
         background-color: #fff;
         width: 16px;
         height: 16px;
         top: 2px;
         left: 2px;
         border-radius: 50%;
         transition: .2s;
      }
   }

   .check-button {
      display: none;

      &:checked + .slide-button {
         background-color: var(--toggle-color);
      }

      &:checked + .slide-button::before {
         transform: translateX(20px);
      }
   }
}