.react-select__indicator  {
   padding: 100px;
   font-size: 1px; /* Ajustez la taille selon vos besoins */
 }

 .react-select__control {
   padding: 400px; /* Ajustez la valeur selon vos besoins */
 }