.note {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--color-primary);

    header {
        .log {
            img {
                width: 40px;
                margin-right: 10px;
            }

            font-weight: 600;
        }

        .hi {
            color: var(--color-3);
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: 100vh;

        .Survey {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 70%;

            .Head {
                text-align: center;
                background: var(--color-1);
                margin: 0;
                padding: 0 10px;
                
                h4 {
                    margin: 0;
                    margin-top: 20px;
                    text-transform: uppercase;
                }
            }

            .First {
                width: 100%;
                background: var(--color-1);
                padding: 5px;

                .Body {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 10px;

                    .Name-Survey {
                        margin-top: 1rem;
                        text-transform: capitalize;
                        color: var(--website-color);
                        background-color: var(--website-color);
                        color: var(--color-1);
                        border: 1px solid;
                        border-style: dashed;
                        padding: 5px;
                        margin-top: 20px;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .details {
                        font-size: 15px;
                    }

                    .Survey-Cont {

                        .Quest-Content {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .Star {
                                color: var(--website-color);

                                .active {
                                    color: var(--website-color);
                                }

                                .msg {
                                    color: var(--color-1);
                                    background-color: var(--website-color);
                                    padding: 1px 5px;
                                    border-radius: 3px;
                                    margin-left: 20px;
                                    font-size: 10px;
                                }
                            }

                            .Question {
                                text-transform: capitalize;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                font-size: 14px;
                                text-shadow: 1px 1px 20px black;
                                font-weight: 500;

                                .Question-num {
                                    width: 18px;
                                    height: 18px;
                                    font-size: 10px;
                                    background-color: var(--color-3);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: var(--color-1);
                                    border-radius: 50%;
                                }
                            }

                            textarea {
                                outline: none;
                                border: none;
                                background: var(--color-primary);
                                padding: 10px;
                                max-width: 70%;
                                max-height: 200px;
                                margin-bottom: 20px;
                                resize: none;
                            }
                        }

                    }

                    .Nav-Step {
                        display: flex;
                        gap: .4rem;
                    }

                }
            }

            .Second {
                background: linear-gradient(70deg, rgba(230, 226, 226, 0.524), rgba(227, 86, 86, 0.638)), url('../../../assets/img/template-survey.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                padding: 0;
                animation: service_ok 1s ease;

                .part {
                    max-width: 400px;
                    margin-left: 1rem;

                    .Survey-Success {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 50px;
                        text-align: center;

                        .Circle-check {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background: green;
                            color: var(--color-1);

                            .Icon-Check {
                                font-size: 30px;
                            }
                        }
                    }

                    .Form-Subscribe {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-top: 20px;

                        input {
                            border: none;
                            outline: none;
                            border: 2px solid var(--website-color);
                            border-style: dashed;
                            padding: 15px;
                        }

                        .Nav-Step {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            margin-top: 20px;

                        }
                    }
                }
            }

            @keyframes service_ok {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(0);
                }
            }

        }
    }

    .Step-Cont {
        position: absolute;
        bottom: 100px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .Step,
        .Step-Active {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--color-1);
            box-shadow: 3px 3px 5px #dbd9d9, -3px -3px 5px #f5f5f5, -3px 3px 5px #f5f5f5, 3px -3px 5px #f5f5f5;
        }

        .Step-Active {
            background: var(--website-color);
            color: var(--color-1);
        }

    }
}

@media screen and (max-width: 1024px) {
    .note {
        height: 100%;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 30px 50px;

        main {
            width: 100%;
            height: 100%;
            box-shadow: 1px 1px 10px #f5f5f5, 1px -1px 10px #f5f5f5;
            overflow: hidden;

            .Survey {
                position: relative;
                padding: 10px;
                width: 100%;
                height: 100%;
                box-shadow: 1px 1px 10px #f5f5f5, 1px -1px 10px #f5f5f5;
                overflow: hidden;
            }

            .Second {
                animation: service_ok 1s ease;

                .Back-Image {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 875px) {
    .note {
        height: 100%;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px;

        p,
        button,
        textarea {
            font-size: 12px !important;
        }

        h4 {
            font-size: 14px;
        }

        main {
            span {
                font-size: 14px !important;
            }

            .Question {
                font-size: 12px !important;
            }

            .Step-Cont {
                right: 20px;

                .Step,
                .Step-Active {
                    width: 22px;
                    height: 22px;
                    font-size: 12px;
                }

            }
        }
    }

}

@media screen and (max-width: 575px) {
    .note {
        height: 100%;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px;

        main {
            p,
            button,
            textarea {
                font-size: 10px !important;
            }
            .Question {
                flex-direction: column;
                font-size: 10px !important;
                text-align: center;
            }
        }
    }

}