.InitiatePassword {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   height: 100vh;
   width: 100%;
   background: #fcfcfc;
   overflow: hidden;

   .Container {
      display: flex;
      height: 80%;
      width: 80%;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 10px 10px 15px #c5c5c528, 10px -10px 15px #bbbbbb91, -10px 10px 15px #97959549, -10px -10px 15px #d1d1d11e;

      .Left {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 60%;
         overflow: hidden;
         // background: var(--color-primary);
         background-image: linear-gradient(#00000094, rgba(40, 38, 37, 0.696)), url('../../../assets/img/auth/initiatePassword.jpg');
         color: var(--color-1);
         background-size: cover;
         background-position: center;
         padding: 0 10px;
         text-align: center;

         h1 {
            text-transform: capitalize;
         }

         @keyframes slideUpDown {
            0% {
               transform: translateY(10%);
            }

            50% {
               transform: translateY(0);
            }

            100% {
               transform: translateY(10%);
            }
         }

         .RulerPassword {
            display: flex;
            flex-direction: column;
            align-items: start;
            background: #e9e9e96d;
            color: var(--color-3);
            gap: 10px;
            padding: 5px;
            margin-top: 10px;
            border-radius: 5px;
            font-weight: 500;
            animation: slideUpDown 2s ease-in-out infinite;
         }

         span {
            &:last-child {
               position: absolute;
               color: var(--color-1);

               a {
                  color: var(--color-1);
               }

               bottom: 10px;
            }
         }
      }

      .Right {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 40%;
         padding: 0 30px;

         p {
            font-size: 14px;

            &:last-child {
               margin-top: 30px;
               text-align: center;
               font-weight: 500;
            }
         }

         a {
            color: var(--color-6);
         }

         .Form {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: auto;
            gap: 20px;

            .Logo {
               display: flex;
               flex-direction: column;
               align-items: center;

               img {
                  margin: auto;
                  width: 20%;
               }

               span {
                  text-transform: uppercase;
               }
            }

            h2 {
               color: var(--logo-color);
               font-size: 30px;
            }

            .InputBox {
               display: flex;
               align-items: center;
               border-bottom: 1px solid #00000013;
               // background: blue;
               // box-shadow: inset 5px 5px 10px rgb(0, 0, 0, .1), inset -5px -5px 10px #fff;
               // padding: 5px;
               // gap: 5px;

               .Icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 42px;
                  height: 40px;
                  background: var(--logo-color);
                  color: var(--color-1);
               }

               input {
                  width: 100%;
                  height: 40px;
                  border: none;
                  outline: none;
                  background: var(--color-1);
                  padding-left: 5px;
               }

               &:last-child {
                  margin-top: 10px;
                  background: var(--logo-color);
                  border: none;
                  padding: 13px;
                  transition: 1s;

                  &:hover {
                     transform: rotate(-1deg);
                     transition: 1s;
                  }

                  button {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     width: 100%;
                     border: none;
                     outline: none;
                     background: transparent;
                     color: var(--color-1);
                     font-weight: 600;
                  }
               }
            }
         }
      }

   }

   // RESPONSIVE============================
   @media screen and (max-width: 1282px) {
      .Container {
         width: 85%;
      }
   }

   @media screen and (max-width: 817px) {
      .Container {
         flex-direction: column;
         width: 55%;
         height: 90%;

         .Left {
            display: none;
         }

         .Right {
            height: 100%;
            width: 100%;
            padding: 20px;
         }
      }
   }

   @media screen and (max-width: 600px) {
      .Container {
         min-width: 100%;
         min-height: 100%;

         .Right {
            padding: 20px;
         }
      }
   }
}