.require-password {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   ul {
      display: flex;
      gap: 20px;
      padding: 5px;
      background: var(--user-color);
      color: var(--color-1);
      li {
         font-size: 12px;
      }
   }
}