.website {
    display: flex;
    height: 100vh;

    .middle-sm {
        display: none;
    }

    .middle {
        position: absolute;
        width: 400px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-1);
        text-align: center;

        .action {
            margin-top: 20px;

            button {
                padding: 8px;
                background: none;
                border: 1px solid;
                color: var(--color-1);
                font-weight: 500;
                transition: 1s all;

                &:first-child {
                    margin-right: 15px;

                    &:hover {
                        background-color: var(--color-1);
                        color: var(--color-3);
                    }
                }

                &:last-child {
                    background-color: var(--color-3);
                    color: var(--color-1);
                    border-style: dashed;

                    &:hover {
                        background-color: var(--website-color);
                    }
                }
            }
        }
    }

    .left {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 50%;
        background-image: linear-gradient(#07070798, rgba(22, 1, 1, 0.945)), url('../../assets/img/order.jpg');
        background-position: center left -260px;
        background-size: cover;
        z-index: -1;

        button {
            display: none;
        }
    }

    .right {
        display: flex;
        align-items: center;
        width: 50%;
        background-image: linear-gradient(#07070794, rgba(255, 0, 0, 0.24)), url('../../assets/img/note.jpg');
        background-size: cover;
        z-index: -1;

        button {
            display: none;
        }
    }
}

@media screen and (max-width: 575px) {
    .website {
        flex-direction: column;

        .middle {
            display: none;
            position: absolute;
            width: 400px;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -50%);
            color: var(--color-1);
            text-align: center;

            .action {
                display: none;
            }
        }

        button {
            position: absolute;
            padding: 8px;
            background: none;
            border: 1px solid;
            color: var(--color-1);
            font-weight: 500;
        }

        .left {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 50%;
            background-position: center left 0px;
            z-index: 1;

            .middle-sm {
                top: 50%;
                padding: 0 10px;
                display: block;
                color: var(--color-1);
            }

            button {
                display: flex;
                align-items: center;
                gap: 5px;
                bottom: 10px;
                // margin-top: 40px;
                border-style: dashed;
            }
        }

        .right {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50%;

            button {
                display: flex;
                align-items: center;
                gap: 5px;
                top: 10px;
            }
        }
    }
}