.manager {
   display: flex;
   // justify-content: center;
   gap: 5px;

   button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      border: none;
      box-shadow: 5px 5px 10px #d8d7d7;
   }
}